In [3]:
import pandas as pd
df=pd.read_csv('dataset.csv')
print(data.columns)

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

Identify the city with the highest number
of restaurants in the dataset.

In [21]:
#To get the city with the highest number of restaurants
city_with_most_restaurants=city_counts.idxmax()
print(city_with_most_restaurants)

New Delhi

Calculate the average rating for
restaurants in each city.

In [22]:
#To calculate the average rating for each city
average_rating_by_city=df.groupby('City')['Aggregate rating'].mean()

In [17]:
#Print the average rating for each city
print(average_rating_by_city)

City
Abu Dhabi          4.300000
Agra               3.965000
Ahmedabad          4.161905
Albany             3.555000
Allahabad          3.395000
                     ...
Weirton            3.900000
Wellington City    4.250000
Winchester Bay     3.200000
Yorkton            3.300000
��stanbul          4.292857
Name: Aggregate rating, Length: 141, dtype: float64

Determine the city with the highest
average rating.

In [23]:
#Get the city with the highest average rating
highest_rated_city=average_rating_by_city.idxmax()
# Print the city with the highest average rating
print(f"The city with the highest average rating is {highest_rated_city}")

The city with the highest average rating is Inner City